@media screen and (max-width:1199px){
    .left-part{
        width: 100%;
    }
    .right-part{
        width: 100%;
    }
    .middle-part{
        width: 100%;
    }
}
@media only screen and (max-width:767px){
    .nav{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px 0px;
       
    }
    .navbar .nav-item{
        margin: unset;
    }
    
    .card{
        margin: 14px 0px;
    }
}
/* @media only screen and (max-width:991px){
    .card{

    }
} */